/* Reset básico para tirar margens padrão do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f9;
    padding: 20px;
}

main{
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

button{
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover{
    background-color: #34495e;
}

#vitrine{
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

#vitrine h2{
    margin-bottom: 20px;
    color: #2c3e50;
}

.grade-produtos{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card{
    background: white;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s;
}

.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
}

.card-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.tag{
    background-color: #ffe0e6;
    color: #d6336c;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.rating{
    color: #f1c40f;
    font-weight: bold;
}

.card h3{
    font-size: 1.1rem;
    margin-bottom: 5px;
    color: #333;
}

.marca{
    color: #777;
    font-size: 0.9rem;
    margin-bottom: 15px;
}

.card-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-top: 1px solid #f0f0f0;
    padding-top: 10px;
}

.preco{
    font-size: 1.2rem;
    font-weight: bold;
    color: #2c3e50
}

.estoque{
    font-size: 0.8rem;
    color: #999;
}
/* Ações do Card */
.card-actions {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px dashed #eee; /* Linha tracejada para separar */
}

.card-actions button {
    flex: 1; /* Ocupam o mesmo espaço */
    padding: 8px;
    font-size: 0.85rem;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    border: none;
    color: white;
}

.btn-editar {
    background-color: #3498db; /* Azul */
}
.btn-editar:hover {
    background-color: #2980b9;
}

.btn-excluir {
    background-color: #e74c3c; /* Vermelho */
}
.btn-excluir:hover {
    background-color: #c0392b;
}